<footer>
  <div class="footer">
    <div class="info1">
      <h2>Dolphin Cove</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sequi molestiae, totam,
        pariatur
        perferendis beatae ipsum at inventore obcaecati quod ipsa tempore molestias sit animi minus
        commodi
        nemo
        optio! Autem!</p>
    </div>

    <div class="info2">
      <h2>Gallery</h2>
      <div class="gallery">
        <div class="img"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQD1uhqBXZJhs5lD8wyBcou6teZwfgVSJIInAz_k8VZ1AkUeiDtCrUX5fgfYh1ocgynxe0&usqp=CAU" alt="" width="150" height="100"></div>
        <div class="img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZYaVgUoTAEueMzvFFFMQDF0L_irZclJ4LNyc5rQtZglg-sslwlOKV57eOYXS6k_v_oDY&usqp=CAU" width="150" height="100" alt="">
        </div>
        <div class="img">
          <img src="https://www.amstardmc.com/shop_image/tour_images/Dolphin-Cove-Negril14_(1)3.jpg" width="150" height="100" alt="">
        </div>
        <div class="img">
          <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrbr059-ItC784RgTzmDc9KoEd0rgHjd1XnqJUwxePiI1v_VoA5B75MJXGQZ6o2lg5PAQ&usqp=CAU" width="150" height="100" alt="">
        </div>
        <div class="img">
          <img src="http://couplesresorts.co.uk/wp-content/uploads/2018/11/Dolphin-Cove-Jamaica-1.jpg" width="150" height="100" alt="">
        </div>
        <div class="img">
          <img src="https://fh-sites.imgix.net/sites/3672/2021/02/10173315/Dolphin-Cove-Montego-Bay-image-3.jpg?auto=compress%2Cformat&fit=crop&crop=faces&w=360&h=240" width="150" height="100" alt="">
        </div>
      </div>
    </div>
    <div class="info3">
      <h2>Get in Touch</h2>
      <p>Stay tuned to our updates</p>
      <div class="media">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-twitter"></i>
        <i class="fab fa-instagram"></i>
        <i class="fas fa-envelope"></i>
      </div>
      <input type="text">
      <p>Subscribe</p>
    </div>
  </div>
  <div class="copy">
    <label for="">©Copyright 2021 | all rights reserved</label>
  </div>
</footer>