<header>
  <div class="sub-nav">
    <div class="openings">
      <span>Mon-Sat 10:00am-2:00pm Sunday Closed</span>
    </div>

    <div class="registry">
      <span><i class="fa fa-phone"></i>+1 866-393-5158</span>
      <span><i class="fa fa-map-marker"></i>Belmont Road, Ocho Rios</span>

      <a class="login" href="/login"><span> Login</span></a>
      <a class="reg" href=""><span> Register</span></a>

    </div>
  </div>
  <div class="nav">
    <div class="logo"><img src="http://blog.dolphincoveja.com/wp-content/uploads/2020/05/Dolphin-Cove-logo.png" alt=""></div>
    <div class="main-nav">
      <a href="/"><span>Home</span></a>
      <div class="dropdown">
        <button class="dropbtn">Dashboard</button>
        <div class="dropdown-content">
          <a href="/appointTable">Admin Dasboard</a>
          <a href="/tourdash">Tour Dashboard</a>
          <!-- <a href="#">Staff Dasboard</a> -->
        </div>
      </div>
      <a href="/tours"><span>Tours & Programmes</span></a>
      <a href="/reserve"><span>View Reservation</span></a>



    </div>
  </div>


</header>