<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/appointTable.css">
</head>

<body>
  <div class="dash-img">
    <h2>Guest List</h2>
  </div>
  <table class="styled-table">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Programme</th>
      </tr>
    </thead>
    <tbody>
      <% guests.forEach((guest)=>{ %>
      <tr>
        <td><%=guest.guest_fn%></td>
        <td><%=guest.guest_ln%></td>
        <td><%=guest.pro_nm%></td>
      </tr>
      <% }) %>

    </tbody>
  </table>

</body>

</html>