<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="styles/home.css">
</head>

<body>
  <div class="welcome">
    <div class="heading">
      <h1>Dolphin Cove</h1>
      <p>Swim with dolphins and enjoy our resort</p>
      <a href="/tours">Book Now</a>
    </div>

  </div>
  <!-- <a class="map" href="https://www.google.com.mx/maps/search/Dolphin+Cove+/@18.1556894,-77.8363009,9.5z" target="_blank">
    <img src="https://www.dolphincoveja.com/Content/media/map-home.png" alt="Dolphin Cove Ocho Rios and Dolphin Cove Montego Bay" class="img-responsive">
  </a> -->




</body>

</html>