<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <head>
    <title></title>
    <link rel="stylesheet" href="/styles/login.css">
  </head>

  <body>
    <form action="/login/auth" method="post" class="project-frm">
      <h2 class="project-head">Login Form</h2>
      <p class="project-text">Login To Our database to book A program</p>
      <label for="">Email</label>
      <input type="text" name="email">
      <label for="">Password</label>
      <input type="password" name="password">
      <span> Already have an account? <a href="/">Sign up</a></span>
      <button class="post-btn" type="submit">Login</button>
    </form>
  </body>

</body>

</html>