<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<link rel="stylesheet" href="/styles/program-add.css">

<body>
  <div class="program-form">
    <h2>Add a Programme</h2>
    <form action="/programTable/form/add" method="post" enctype="multipart/form-data">
      <label for="">Prgramme Name</label>
      <input type="text" name="pro_nm">

      <label for="">Prgramme Price</label>
      <input type="number" name="pro_price">

      <label for="">Prgramme Description</label>
      <textarea name="pro_desc" id="" cols="35" rows="6"></textarea>

      <label for="">upload Image</label>
      <input type="file" name="image">

      <button type="submit">Add Program</button>
    </form>
  </div>

</body>

</html>