<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles/touruserForm.css">
</head>

<body>
  <div class="program-form">
    <h2>Add tour Representative</h2>
    <form action="/tourUsers/add" method="post">
      <div class="section">
        <div class="personal">
          <label for="">First Name</label>
          <input type="text" name="user_fname">

          <label for="">last Name</label>
          <input type="text" name="user_lname">
        </div>
        <div class="contact">
          <label for="">Email</label>
          <input type="text" name="email_address">

          <label for="">Password</label>
          <input type="password" name="password">
        </div>
      </div>

      <label for="">Select Your Company</label>
      <select name="company_id" id="">
        <% tours.forEach((tour)=>{ %>
        <option value="<%=tour.id%>"><%=tour.company_nm%></option>
        <% })%>
      </select>

      <button type="submit">Add Tour Rep</button>
    </form>
  </div>

</body>

</html>